@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
  font: normal 100%/1.3 "Open Sans", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0 auto;
  min-width: 320px;
}

header {
  background-color: #150d0f;
  text-align: center;
}

.logo {
  text-decoration: none;
}

h1 {
  margin: 0;
  padding: .625em;
  font-size: 1.2rem;
  font-weight: 400;
  color: #fff;
  display: inline-block;
  text-align: center;
  font-family: Lora, serif;
}

/* nav */

.nav {
  display: none;
  padding: .7em 3em 3em;
}

.nav-check {
  position: absolute;
  top: -3em;
}

.nav-check:checked ~ .nav {
  display: block;
}

.nav-label {
  cursor: pointer;
}

.logo-span {
  display: inline-block;
}

nav ul {
  margin: 0;
  padding: 0;
  text-align: left;
  list-style-type: none;
}

nav a {
  padding: .7em 0;
  display: inline-block;
  width: 100%;
  font-weight: 300;
  font-size: 1.1rem;
  color: #fff;
  text-decoration: none;
  border-bottom: solid 1px #533f34;
}

nav a:hover,
h1:hover {
  color: #bfa69a;
}

.nav-icon,
.nav-icon-close,
.nav-icon-hover,
.nav-icon-close-hover {
  display: block;
  width: 48px;
  float: left;
}

.nav-icon-close,
.nav-icon-hover,
.nav-icon-close-hover {
  display: none;
}

.nav-label:hover .nav-icon-hover {
  display: block;
}

.nav-check:checked ~ .nav-label .nav-icon-close,
.nav-check:checked ~ .nav-label:hover .nav-icon-close-hover {
  display: block;
}

.nav-check:checked ~ .nav-label .nav-icon,
.nav-check:checked ~ .nav-label .nav-icon-hover,
.nav-check:checked ~ .nav-label .nav-icon-close-hover,
.nav-check:checked ~ .nav-label:hover .nav-icon-close,
.nav-label:hover .nav-icon {
  display: none;
}

.phone-icon,
.phone-icon-hover {
  width: 48px;
  float: right;
}

.phone-icon-hover {
  display: none;
}

.call:hover .phone-icon {
  display: none;
}

.call:hover .phone-icon-hover {
  display: block;
}

/* nav */

/* banner */

.banner {
  display: block;
  position: relative;
  overflow: hidden;
  min-height: 345px;
  max-height: 405px;
  width: 100%;
  height: 44vh;
  background-image: url("../images/banner3.jpg");
  background-size: cover;
  background-position: center center;
}

.banner-body {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  top: 5em;
  color: #fff;
  width: 90%;
}

.title {
  font-weight: 300;
  font-size: 2.2rem;
  text-shadow: 0 0 50px black;
}

/* banner */

/* cards */

.cards {
  margin: 0 auto;
  text-align: center;
  border-top: 2px solid #fff;
  max-width: 2560px;
}

.cards ul {
  margin: 0;
  padding: 0;
  display: block;
}

.cards li {
  border-bottom: 2px solid #fff;
  overflow: hidden;
  height: 200px;
  width: 100%;
  position: relative;
  float: left;
  list-style: none;
}

.card-img-wrapper {
  overflow: hidden;
  width: 100%;
}

.card-img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@media only screen and (min-width: 46em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  header {
    text-align: center;
  }

  .logo-span {
    display: block;
  }

  .nav-check, .nav-icon, .nav-icon-hover, .nav-icon-close, .nav-icon-close-hover {
    display: none;
  }

  .nav-check:checked ~ .nav-label .nav-icon-close,
  .nav-check:checked ~ .nav-label:hover .nav-icon-close-hover {
    display: none;
  }

  .nav {
    display: inline-block;
    padding: 0;
    border-top: solid 1px #533f34;
    width: auto;
  }

  nav ul {
    text-align: center;
  }

  nav li {
    display: inline-block;
    margin: 0 1em;
  }

  nav a {
    padding: .9em;
    border: none;
    font-size: .7rem;
    font-weight: 400;
  }

  .call {
    display: none;
  }

  .banner {
    height: 65vh;
    min-height: 535px;
    max-height: 100%;
  }

  .title {
    font-size: 3rem;
  }

  .cards li {
    width: 50%;
    float:left;
  }

  .card-border {
    border-right: 2px solid #fff;
  }

}

@media only screen and (min-width: 67em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

  .cards li {
    width: 25%;
  }

  .card-border-2 {
    border-right: 2px solid #fff;
  }

}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
    line-height: 1.5;
  }

}
